<button class    = "show-sidebar-sm visible-xs collapse-btn navbar-toggle text-white"  
		ng-init  = "navCollapsed = false" 
    	ng-click = "navCollapsed = !navCollapsed" >
		<span>
			<i class="fa fa-2x fa-bars" ></i>
		</span>
</button>
<div class = "sidebar" role = "navigation" >
    <div ng-class = "!navCollapsed && 'in animated fadeInUp'"
    	 class    = "navbar-default 
                     sidebar-nav 
                     navbar-collapse 
                     collapse" >
        
        <ul class = "nav" 
            id    = "side-menu" >
            <p class="title" >Orders</p>
            <li ui-sref-active = "active" >
                <a ui-sref     = "orders({ filter:item.name })" >
                   <p> {{ item.name }}</p>
                </a>
            </li>
        </ul>
    </div>
</div>