<div class="container-fluid " id="page-wrapper" >
    <div class="offer-list ">
        <!-- List Header -->
        <div class="row ">
            <div class="col-md-12 ">
                <div class="text-uppercase">
                    <div class="col-md-1 col-sm-0 col-xs-0" ></div>
                    <div class="col-md-3 col-sm-3 col-xs-3" >
                        <p class             = "title" 
                           uib-tooltip       = "Sort by Name"
                           tooltip-placement = "left"
                           ng-click = "sortBY = 'lastname' " >
                           Name <i class="fa fa-caret-down" ></i>
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-3" >
                        <p class             = "title" 
                           uib-tooltip       = "Sort by Affiliation"
                           tooltip-placement = "left" 
                           ng-click = "sortBY = 'affiliation' " >
                           Affiliation <i class="fa fa-caret-down" ></i>
                        </p></div>
                    <div class="col-md-2 col-sm-3 col-xs-3" >
                        <p class             = "title" 
                           uib-tooltip       = "Sort by Login"
                           tooltip-placement = "left" 
                           ng-click = "sortBY = 'log' " >
                           Last Log-in <i class="fa fa-caret-down" ></i>
                        </p></div>
                    <div class="col-md-2 col-sm-3 col-xs-3" ></div>
                </div>
            </div>
        </div>
        <!-- List Body -->
        <div class      = "row animation" ng-repeat = "profile in data | orderBy: sortBY ">
            <div class="col-md-1 col-sm-3 col-xs-3" ><img class   = "profile-pic" ng-src = "{{ profile.picture }}" ></div>
            <div class="col-md-3 col-sm-9 col-xs-9" ><p >{{ profile.lastname }}, {{ profile.firstname }}</p></div>
            <div class="col-md-4 col-sm-9 col-xs-9" ><p >{{ profile.affiliation }}</p></div>
            <div class="col-md-2 col-sm-3 col-xs-3" ><p >{{ profile.log }}</p></div>
            <div class="col-md-2 col-sm-12 col-xs-12 offer-btn" align="right">
                <ul class="list-inline" >
                    <li>
                        <div uib-dropdown on-toggle="toggled(open)" >    
                            <button type="button" class="btn btn-default btn-more" aria-label="Left Align" uib-dropdown-toggle>
                                <span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                            </button> 
                            <ul class="dropdown-menu animated fadeIn" uib-dropdown-menu aria-labelledby = "simple-dropdown">
                                <li>
                                    <a ng-click = "">Update</a>
                                </li>
                                <li>
                                    <a ng-click = "">Reset Password</a>
                                </li>
                                <li>
                                    <a ng-click = "">Decommission</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <!-- List Extension -->
        <div class = "row " 
             ng-if="results.length == 0" >
            <div class = "col-md-12" >
                <p class="title text-uppercase" > :/ No Offer Found</p>
            </div>
        </div>

    </div>
    <div class="pull-right btn-fixed">
        <button class             = "btn btn-circle gray white-text" 
                ng-click          = "newOffer()"
                uib-tooltip       = "Add offer"
                tooltip-placement = "left" >
            <i  class = "fa fa-2x fa-plus"></i>
        </button>
    </div>
</div>