body {
  background-color: #455A64;
}

.navbar-top-links li a,
.white-text,
.white-text:hover,
.submit,
.submit:hover,
.submit:focus,
.btn-ripple:after,
.header {
    color: #fff;
}
.pink-text,
.pink-text:hover{
	color: #455A64;
}

.account-wall,
.submit{
	border: solid 1px #455A64;
}
.submit,
.submit:hover,
.submit:after,
.submit:focus, 
.btn-submit:hover,
.btn-submit:after,
.btn-submit:focus, {
	background: #455A64;
}

.btn-cancel:hover,
.btn-cancel:after,
.btn-cancel:focus {
  background-color: #fff;
  border-style: none;
}

.login .jumbotron{
	background: #455A64;
  height: 250px;
}
.topbar {
  border:0;
}
.pink, 
.topbar{
	background: #455A64 !important;
}
.white {
  background: #fff;
}
.md-button {
  margin: 20px 0;
  display: block;
  width: 100%;
  border: none;
  padding: 10px 0;
  border-radius: 0px;
  border-bottom: solid 1px #455A64;
  background-color: #fff;
}
.md-button:focus, 
.md-button:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.md-input {
  border-radius: 0px;
	margin: 20px 0;
	display: block;
	width: 100%;
	border: none;
	padding: 10px 0;
	border-bottom: solid 1px #455A64;
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 98%, #455A64 2%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #455A64 2%);
	background-position: -1000px 0;
	background-size: 100%;
	background-repeat: no-repeat;
  color: #444;
}
.md-input:focus, 
.md-input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.md-input:focus::-webkit-input-placeholder, 
.md-input:valid::-webkit-input-placeholder {
  color: #455A64;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

.sm-input {
  font-size: 15px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: solid 1px #455A64;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 98%, #455A64 2%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #455A64 2%);
  background-position: -1000px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #444;
}
.sm-input:focus, 
.sm-input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.sm-input:disabled::-webkit-input-placeholder {
  color: #455A64;
}
.sm-input:focus::-webkit-input-placeholder, 
.sm-input:valid::-webkit-input-placeholder {
  color: #455A64;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}
form label {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  top:2px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
input:focus ~ label,
input:valid ~ label,
input[type="email"]:focus ~ label ,
input[type="email"]:valid ~ label  {
  top:-17px !important;
  font-size:12px !important;
  color:#455A64 !important;
}
.register-container button.md-button:focus, 
.register-container button.md-button:valid,
.register-container .active{
  color: #455A64;
  border-bottom: solid 3px #455A64;
  box-shadow: none;
  outline: none;
  background-position: 0 0;
  background: transparent !important;
}

.btn-ripple {
  position: relative;
  overflow: hidden;
  padding: 16px 32px;
  width:100%;
  margin:auto;
}

.md-select {
  color: #455A64;
  border-radius: 0px;
  margin: 20px 0;
  display: block;
  width: 100%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #455A64;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 98%, #455A64 2%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #455A64 2%);
  background-position: -1000px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #444;
}
.md-select:focus, 
.md-select:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.md-select:focus::-webkit-input-placeholder, 
.md-select:valid::-webkit-input-placeholder {
  color: #455A64;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

.btn-ripple:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 120px;
  bottom:2%;
  top:2%;
  left:3%;
  right:3%;
  margin:auto;
  background: #880E4F;
  border-radius:50% ;
  opacity: .5;
  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
   20% {
   	opacity: 0.3;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

.btn-ripple:not(:active):after {
  animation: ripple 5s ease-out;
}

/* fixes initial animation run, without user input, on page load.
 */
.btn-ripple:after {
  visibility: hidden;
}

.btn-ripple:focus:after {
  visibility: visible;
}

.modal-title {
  color: #fff;
}

.btn-primary {
  background-color: #58ACFA;
}

.lightblue {
  background-color: #00BFFF;
  border-color: #00BFFF;
}

.gray {
  background-color: #455A64;
}
.green-border {
  border-style: solid;
  border-width: 1px;
  border-color: #455A64;
  padding: 15px;
}
.darkred {
  background-color: #F44336;
}
.text-lightblue,
.New {
  color: #00BFFF;
}
.text-lightgreen,
.Delivered {
  color: #8BC34A;
}
.text-darkred,
.Canceled {
  color: #F44336;
}
.text-white {
  color: #fff;
}
.text-grey {
  color: #888888;
}
.sidebar div {
  background-color: #fff;
}

.sidebar p {
  color: black;
}

.btn-submit {
  background-color: #8BC34A;
  color: #fff;
}

.btn-cancel {
  border-color: #fff;
  background-color: #fff;
  color: #8BC34A;
}

.btn-group a {
  color: #8BC34A;
}

.tab {
  color: #455A64;
  background-color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px #ddd;
}

.tab:active, 
.tab:focus,
.tab:hover {
  background-color: #fff;
  border-bottom: solid 3px #455A64;
}

.tab .active {
  border-bottom: solid 3px #455A64;
}

.panel-footer {
  border: solid thin;
  border-top: 0;
  border-radius: 0;
}
.lb-border {
  border-color: #00BFFF;
}
.lg-border {
  border-color: #00BFFF;
}