.btn-more {
	border-radius: 100%;
	border-width: 0px;
}

.profile-pic {
	border-radius: 100%;
	border-style: solid;
	border-width: 1px;
	height: 50px;
	width: 50px;
	margin: 5px;
}
@media(min-width:768px) {
    #page-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border-left: 1px solid #CFD8DC;
        background-color: #CFD8DC;
    }
}
.offer-list p.title {
    font-size: 15px;
    padding: 0px;
    cursor: pointer;
}
div .offer-list  {
    margin: 80px 60px 30px 60px;
}
input.search {
	border-radius: 25px !important;
	margin: 10px;
}