html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color:#444;
    font-size: 12px;
}
/** {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}*/
div .jumbotron {
    padding-top: 10px;
}
h3 {
    margin: 2px;
}
a {
    cursor: pointer;
}
p{margin: 5px;}
.uppercase{	text-transform: uppercase;}
.title{	padding: 10px;}
.bold-text  {font-weight: bold;}
.nav-wrapper {	padding: 0 20px;}
.page-wrapper {	margin-left: 260px;}
.dropdown-content { top: 60px !important;}
#wrapper {    width: 100%;}
.topbar{    font-size: 12px;}
#page-wrapper {
    padding-bottom: 30px;
    background-color: #fff;
}
.nav p {
    font-size: 13px;
    color: grey;
}
.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 20px !important; 
    min-height: 50px;
    color: #fff !important;
}
.navbar-default a.text-white {
    color: #fff;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
.navbar-top-links li a:hover,
.navbar-top-links li a:focus,
.navbar-top-links li a:active,
.uib-dropdown,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	background: rgba(0, 0, 0, 0.13) !important;
    outline-color: #fff;
}

.navbar-top-links li a {
    font-size: 15px;
}
.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover {
    background: rgba(0, 0, 0, 0.13);
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar-nav ul li a:active,
.sidebar-nav ul li a:focus,
.sidebar-nav ul li a:hover,
.sidebar-nav .active, 
.sidebar-nav .sel {
    background-color: #689F38;
    outline-color: #fff;
}
.sidebar-nav ul li a {
    padding-left: 25px;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar ul li i {
    color: black;
    margin-top: 6px;
}
.sidebar ul li p {
    font-size: 15px;
}

.btn-circle {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
}
button.btn-circle:focus {
    outline-color: #fff;
}
.btn-circle-sm {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
}
button.btn-circle-sm:focus {
    outline-color: #fff;
}
.btn:focus,
.btn:active {
    outline-color: #fff;
}
.btn-fixed {
    position: fixed;
    bottom: 10px;
    right: 20px;
}
button.btn-fixed:focus {
    outline-color: #fff;
}
/*.btn-default {
    border-radius: 0px;
}*/
button.btn-default {
    outline-color: #fff;
}

.topbar .dropdown li a{
    color:#444 !important;
    font-size: 12px;
}
.collapse-btn{
    position: fixed;
    top: 51px;
    z-index: 9999;
    right: 10px;
    margin: 10px 15px;
}

​.form-signin .md-input{    width: 250px !important;} 
.form-signin {  padding: 20px;}
.card p { margin-top: 10px;}
.card h1 { margin: 0px;}
.card {
    /*box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    padding: 15px;
    box-sizing: border-box;
    background-clip: padding-box;
}
.account-wall{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 40px 0px 20px 0px;
    height: 400px;
    max-width: 400px;
    margin: auto;
}
.register-wall{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 20px;
    height: 520px;
    max-width: 600px;
    margin: auto;    
}
.register-wall input,
.modal-offer input {
    padding-top: 0px;
    margin-top: 5px;
}
.top-margin,
.login-container,
.order-table {
    margin-top: 70px !important;
}

.register-container {
    margin-top: 0px;
}
.login-container p,
.register-container p {
    margin: 0px;
}
.top-margin-sm{ margin-top: 20px;}
.gray-border{ border:solid 1px #ddd;}
.custom-table>thead>tr>th{  border-bottom: solid 1px #ddd; }
.custom-table{
    -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.58);
    -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.58);
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.58);
}

div.img-div{
    height:70px;
    width:70px;
    overflow:hidden;
    border-radius:50%;
}

.img-div img{
    -webkit-transform:translate(-50%);
    margin-left: 50%;
    height: 100%;
}
.md-select,
.md-select:focus {
    font-size: 15px;
    color: #689F38;
}

.photo-container {
    width: 100px;
    height: 100px;
    margin: 10px 30px 20px 0;
    border-radius: 100%;
    background-color: #689F38;
}
.photo-container img {
    object-fit:cover;
    height: 100px;
    border-radius: 100%;
    background-color: #444;
}

.photo-container img[class] {
  width: 100%;
}
.register-container .fa-stack-1x{
    top: 50%;
}

fieldset.fsStyle {
    background-color: #fff;
    font-size: small;
    font-weight: normal;
    padding: 20px;
    padding-bottom: 25px;
    margin: 15px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
legend {
    margin: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
    color: #888888;
    background-color: transparent;
    font-size: 13px;
    width: auto;
    border-bottom: 0px;
    font-size: 20px;
}

/* ~~ MEDIA QUERIES ~~ */

@media(max-width:320px) {
    .top-margin {
        margin-top: 100px;
    }
}
@media (min-width: 500px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
    }
}


@media(max-width:768px) {
    .sidebar {
        margin-top: 120px;
    }
    .top-margin {
        margin-top: 140px !important;
    }
    .login-container,
    .order-table,
    .offer-list {
        margin-top: 30px !important;
    }
    .order-list,
    .offer-list  {
        margin: 10px !important;
    }
    .offer-list p {
        padding: 0px !important;
    }
}
@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}
@media(min-width:767px) {
    .sidebar {
		z-index: 1;
		position: fixed;
		top: 0px;
		left: 225px;
		margin-left: -225px;
		border-right: 2px solid;
        border-color: grey;
		border-radius: 0;
		overflow-y: auto;
		background-color: #fff;
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}
@media(max-width: 966px) {
    .grocery-account {
        height: 350px;
    }
}
.account-wall,
.register-wall,
.custom-table,
.home,
.info-pane{
    background: #fff;
}

.order-pic {
    height: 70px;
    width: 70px;
    margin: 2px;
    padding: 5px;
}

.table table.order-list {
    background-color: #000;
}
div .order-list .table td {
    border: solid thin #ddd;
}

.order-list .footer {
    padding-top: 10px;
}

div .order-list {
    padding: 5px 20px;
    margin: 10px;
    border: solid thin #ddd;
}
div .order-list .row {
    padding: 0px 15px;
}
div .order-list {
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

div .order-list,
div .offer-list  {
    margin: 80px 60px 60px 30px;
}
.offer-list .row {
    position: relative;
    display: block;
    right: 0.1%;
    border: solid #CFD8DC thin;
    background-color: #fff;
    border-color: #fff;
    border-top: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
div .offer-list ul li {
    padding-top: 10px;
}

.offer-list p {
    font-size: 15px;
    padding-top: 10px;
}

div .order-list .order-list-footer {
    margin-top: 20px;
}
.order-list-footer {
    display: inline;
}
div .order-list table {
    margin: 0;
}
div .order-list table th {
    padding: 15px;
    vertical-align: middle;
    text-align: center;
}
div .order-list table tr td {
    padding:0;
    vertical-align: middle;
    text-align: center;
}
div .order-list table tr td:first-child {
    text-align: left;
}
div .order-list .customer-name{
    font-size: 16px;
}
p.menu {
    font-size: 15px;
}
div .order-list p.desc,
div .offer-list p.desc {
    font-size: 12px;
}
div.category button {
    text-align: left;
}
.total {
    padding-right: 25px;
}
.total, 
.status {
   font-size: 18px;
}
.home a {
    color: #fff;
}
.list-inline {
    padding-top: 0px;
}
.dashboard i {
    margin-top: 6px;
}

.modal-offer div.offer-extra {
    background-color: #E6E6E6;
    border-radius: 15px;
}
.modal-offer p {
    font-size: 13px;
    text-align: left;
    border: none;
    border-bottom: solid 1px #689F38;
}
.modal-content {
    border-radius: 0;
}
.offer-combo {
    padding: 5px;
}
.profile p {
    font-size: 15px;
}
.profile .header {
    padding: 5px;
    display: inline-block;
}
.grocery-profile .header,
.background-header {
    padding: 5px;
    border-top: solid 2px #689F38;
    display: inline-block;
}
.profile .header i {
    padding: 5px;
    display: inline-block;
}
.register-container button.btn-nav:hover,
.register-container button.btn-nav:focus,
.register-container button.btn-nav:active {
    background-color: #689F38;
    color: #fff;
    outline-color: #fff;
}

.home .col-md-4 {
    margin:5px 0;
}

.home .panel-heading {
    border-radius: 0;
}
.home .panel-body {
    border:solid thin;
}
.address-map{
    height: 150px;
}
li button:focus,
li button:active {
    outline-color: #fff;
}
.msg {
    width: 358px;
}
.modal .fa-inverse {
    margin-top: 25px;
}

.timeset a {
    padding: 1px;
}
.timeset input {
    margin-top: 0px;
}
.timeset {
    height: 70px;
}
.category {
    width: 100%;
}
.profile input.md-input {
    margin: 0px;
}
.profile div.col-md-3,
.prodile div.col-md-9 {
    padding: 0px 10px;
}
.grocery-profile {
    min-height: 430px;
}
.grocery-account {
    min-height: 230px;
    border-bottom: solid 2px #689F38;
    border-top: solid 2px #689F38;
}
.footer {
    border-bottom: solid 2px #689F38;
}
textarea.form-control {
    border-style: solid;
    border-width: 1px;
    border-color: #689F38;
}
textarea.form-control:focus,
button.btn-icon:focus,
.click {
    outline: none;
    border-color: #689F38;
    box-shadow: 0 0 10px #689F38;
}
.photo-profile .fa-inverse {
    margin-top: 20px;
}
.btn-icon {
    border-width: 0px;
    border-radius: 100%;
    background-color: transparent;
    color: #689F38;
}
.order-btn,
.offer-btn {
    padding-top: 10px;
}