<!-- Navigation -->
<nav class = "navbar navbar-default navbar-fixed-top topbar" role="navigation" style="margin-bottom: 0">
    <!-- /.navbar-header -->

    <ul class="nav navbar-nav navbar-top-links">
        <li>
            <a href = ""><i class = "fa fa-bars" ></i></a>
        </li>
        <li>
            <a class = "navbar-brand text-white" href = "" >LOGO</a>
        </li>
        <li>
            <div class = "input-group">
                <input type = "text" class = "form-control search" placeholder = "Search">
            </div>
        </li>
    </ul>

    <ul class=" nav navbar-nav navbar-top-links 
                navbar-right 
                navbar-collapse 
                navbar-ex1-collapse top-nav 
                uppercase" >
        
        <li  uib-dropdown on-toggle = "toggled(open)">
            <a href = "" id = "simple-dropdown " uib-dropdown-toggle >
                <i class = "fa fa-user fa-lg"></i>
               User
                <i class = "fa fa-caret-down"></i>
            </a>
            <ul uib-dropdown-menu class = "animated fadeIn dropdown" >
                <li>
                    <a ui-sref="profile" >
                        <i class="fa fa-user"></i>
                        Profile
                    </a>
                 </li>
                 <li class = "divider" ></li>
                <li>
                    <a ng-click = "logout()" >
                        <i class = "fa fa-power-off" ></i>
                        Logout
                    </a>
                 </li>
            </ul>
        </li>
    </ul>
</nav>